[Unit]
Description=Wake Chicago ADU bot every 15 minutes

[Timer]
OnCalendar=*-*-* *:00/15:00
RandomizedDelaySec=30
Persistent=true
Unit=adu-bot.service

[Install]
WantedBy=timers.target
